# Habilita reescrita de URLs
RewriteEngine On

# Define o diretório base do seu projeto
RewriteBase /Rafael-Vindi/paramo/

# Se o arquivo ou diretório não existir fisicamente, redireciona para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Envia tudo para index.php, passando a URL amigável
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]